.vehicle-image {
    img {
        width: 100px;
        margin-bottom: 10px;
    }
    text-align: center;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/deep/ clr-tabs ul.nav {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    .nav-link.nav-item {
        margin-right: 0px;
    }
}

/deep/ clr-tabs section {
    height: 300px;
}
