<div class="content-container">
    <div class="content-area">
        <h1>Resources</h1>

        <h2>Climate Impacts and Transportation</h2>

        <p>
            Map My Emissions was developed to help individuals understand the environmental impacts of their transportation decisions. It highlights how the mode of transport an individual chooses affects the greenhouse gas emissions associated with his/her trip. Generally, trips made using public transit result in lower greenhouse gas emissions than trips involving driving. That’s good news as greenhouse gas emissions are a major cause of global climate change.
        </p>

        <div style="float: right; text-align: center; margin-left: 10px;">
            <img src="images/cars.jpg" style="width: 320px;"/>
        </div>

        <h2>What is Climate Change?</h2>

        <p>
            Climate describes the weather typically associated with a given place.  Iceland is cold, Bahrain is arid, and Thailand is tropical. Climate change describes is a change in the usual weather conditions, such as an increase or decrease in rain, or an increase in temperature for a particular month or season. Climate may also change on a global scale. For instance, there may be an increase in average global temperatures, or shifts in where and when rain occurs. 
        </p>

        <h2>Who is affected?</h2>

        <p>
            You. Me. Everyone. Climate change affects us all.  Climate change affects our health and quality of life, including by disrupting water supplies, agricultural operations, and energy and transportation systems.  
        </p>

        <p>
            While once thought of as future dilemma, climate change is happening now.  depending on how much of a particular gas is released, how long the gas stays in the atmosphere, and how much the gas affects the atmosphere.
        </p>

        <h2>Why does it occur?</h2>

        <div style="float: right; text-align: center; margin-left: 10px;">
            <img src="images/epa_greenhouse_gas_sources.png" style="width: 100%;"/><br />
            Source <a href="https://www.epa.gov/ghgemissions/inventory-us-greenhouse-gas-emissions-and-sinks">EPA</a>
        </div>

        <p>
            Human activities emitting greenhouse gases, such as carbon dioxide, are a key contributor to climate change. Greenhouse gases trap heat in the Earth’s atmosphere, causing temperatures to rise. This, in turn, causes changes in rainfall patterns and other climatic conditions.
        </p>

        <p>
            Transportation is a major source of greenhouse gases, accounting for 27% of total U.S. emissions. The largest sources of transportation greenhouse gas emissions come from light vehicles (passenger cars, sport utility vehicles, pickup trucks, minivans, and motorcycles).  These vehicles account for about 60% of transportation greenhouse gas emissions.  Freight trucks contribute 23%, commercial aircraft 9%; and other non-road sources 4%.
        </p>

        <h2>What can I do?</h2>

        <p>
            Use sustainable transportation options like public transit. Taking public transit rather than driving reduces overall energy consumption and greenhouse gas emissions.  In the U.S., public transit saves more than 4 billion gallons of gasoline and 37 million metric tons of carbon dioxide emissions annually.  In terms of you and I, that 4 billion gallons of gasoline saved annually is a reduction of $10 billion dollars in U.S. consumer costs, or 29 million acres of forest! 
        </p>

        <h2>Where can I get more information?</h2>

        <ol>
            <li>Other Carbon Calculators
                <p style="margin-top: 5px;">
                     A number of alternative carbon calculators are available which allow users to estimate the emissions associated with their energy use and other activities. For example:
                </p>
                <ol type="a">
                     <li>Carbon Footprint Ltd’s <a href="http://www.carbonfootprint.com/calculator.aspx">Carbon Calculator</a> – Calculations for home energy use, transportation, and secondary activities (such as consumption)</li>
                     <li>US EPA’s <a href="https://www3.epa.gov/carbon-footprint-calculator/">Carbon Footprint Calculator</a> – Calculations for home energy use, transportation, and waste</li>
                     <li>NYC MTA’s <a href="http://web.mta.info/sustainability/index.html?c=calc">Transit Effect Calculator</a> – Calculations for transportation and lifestyle</li>
                 </ol>
            </li>

            <li>Emissions and the Transportation Sector
                <ol type="a">
                    <li>The United Nation’s <a href="https://sustainabledevelopment.un.org/topics/sustainabletransport">Sustainable Development Knowledge Platform on Sustainable Transport</a> explores the need for transportation planning with climate change in mind</li>
                    <li><a href="http://www.uitp.org/">UITP</a> (Union Internationale des Transports Publics, or the International Association of Public Transport) is a worldwide network of stakeholders who work to promote  sustainable transport</li>
                    <li>The <a href="https://ncst.ucdavis.edu/">National Center for Sustainable Transportation</a> is one of five national centers funded by the U.S. Department of Transportation’s University Transportation Centers (UTC) Program which works to promote environmentally-sustainable transport</li>
                    <li><a href="http://web.mta.info/sustainability/">Sustainability and the MTA</a> highlights sustainability in the New York City’s public transportation sector</li>
                </ol>
            </li>

             <li>New York City and Sustainability
                 <ol type="a">
                     <li><a href="http://www1.nyc.gov/site/sustainability/index.page">NYC Mayor’s Office of Sustainability</a></li>
                     <li><a href="http://www1.nyc.gov/site/cpp/index.page">NYC Climate Policy & Programs</a></li>
                     <li>NYC Bar Association’s <a href="http://s3.amazonaws.com/documents.nycbar.org/files/20073161-Climate_change_and_opportunities_to_raise_public_awareness_ENVIRONMENT_9.14.16.pdf">Report on the Program on Opportunities to Raise Public Awareness about Climate Change and the Need for Action</a></li>
                 </ol>
             </li>
        </ol>
    </div>
</div>
