<div class="content-container">
    <div class="content-area">
        <h1>Our Partners</h1>

        <p>
           Map My Emissions was developed for the <a href="http://www.nycelli.org">New York City Environmental Law Leadership Initiative (NYCELLI)</a>.
        </p>

        <p style="text-align: center;">
            <a href="http://www.nycelli.org"><img src="images/nycelli.png" style="border: 0; width: 270px;"/></a>
        </p>

        <p>
           We collaborated with <a href="http://countto50.org">Earth Day Initiative</a>, a New York based organization that works with business, government and others to promote environmental awareness and solutions.
        </p>

        <p style="text-align: center;">
            <a href="http://countto50.org"><img src="images/earth-day-initiative.png" style="border: 0; width: 270px;"/></a>
        </p>

        <p>
           Interested in partnering with us? Email us at <a href="mailto:info@mapmyemissions.com">info@mapmyemissions.com</a>.
        </p>
    </div>
</div>
