<div class="content-container">
    <div class="content-area">
        <h1>Our Partners</h1>

        <div class="row" style="max-width: 1368px; margin: 0 auto;">

            <div class="col-xs-12 col-md-6 card-padding">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                           <a
                               href="http://www.nycelli.org">New York City
                               Environmental Law Leadership Institute</a>
                        </div>
                        <div class="card-text">
                            <p>

                               Map My Emissions was developed for the 
                               <a
                                   href="http://www.nycelli.org">New York City
                                   Environmental Law Leadership Institute
                                   (NYCELLI)</a>.

                            </p>

                            <p style="text-align: center;">
                                <a href="http://www.nycelli.org"><img src="images/nycelli.png" style="border: 0; width: 270px;"/></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 card-padding">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                           <a
                               href="http://countto50.org">Earth Day
                               Initiative</a>
                        </div>
                        <div class="card-text">
                            <p>

                               We collaborated with <a
                                   href="http://countto50.org">Earth Day
                                   Initiative</a>, a New York based
                               organization that works with business,
                               government and others to promote environmental
                               awareness and solutions.  </p>


                            <p style="text-align: center;">
                                <a href="http://countto50.org"><img src="images/earth-day-initiative.png" style="border: 0; width: 250px;"/></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="max-width: 1368px; margin: 0 auto;">

            <div class="col-xs-12 col-md-6 card-padding">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <a href="http://columbiaclimatelaw.com/">The Sabin Center for Climate Change</a>
                        </div>
                        <div class="card-text">
                            <p style="text-align: center;">
                                <a href="http://columbiaclimatelaw.com/"><img src="images/sabin_center_logo.png" style="border: 0; width: 125px;"/></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 card-padding">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                               <a
                                 href="http://www.nylcv.org">New York League of Conservation Voters</a>
                        </div>
                        <div class="card-text">
                            <p>


                            <p style="text-align: center;">
                                <a href="http://www.nylcv.org"><img src="images/nylcv_logo.jpg" style="border: 0; width: 205px;"/></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <p>
           Interested in partnering with us? Email us at <a href="mailto:info@mapmyemissions.com">info@mapmyemissions.com</a>.
        </p>

    </div>
</div>
