<clr-main-container>

    <clr-header>
        <div class="branding">
            <a href="#" [routerLink]="['/home']" class="nav-link">
                <span class="title">Map My Emissions</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link nav-text" href="#" [routerLink]="['/home']" routerLinkActive="active">Directions</a>
            <a class="nav-link nav-text" href="#" [routerLink]="['/about']" routerLinkActive="active">About</a>
            <a class="nav-link nav-text" href="#" [routerLink]="['/partners']" routerLinkActive="active">Partners</a>
            <a class="nav-link nav-text" href="#" [routerLink]="['/resources']" routerLinkActive="active">Resources</a>
        </div>
    </clr-header>

    <router-outlet></router-outlet>

</clr-main-container>
