.main-container {
    overflow: hidden;
}

/deep/ .content-container {
    height: calc(100vh - 60px);
}

.open-hamburger-menu .header .header-nav .nav-link {
    color: #666;
}

/deep/ clr-tabs .nav .nav-link {
    padding: 0 10px;
}
