$xxs-width: 321px;
$xs-width: 543px;
$xs-max: 543px;
$small-min: 544px;
$small-width: 767px;
$small-max: 767px;
$medium-width: 991px;
$medium-width2: 990px;
$large-width: 1199px;
$xl-min-width: 1600px;
$xxl-min-width: 1919px;

.content-container {
    form {
        padding-top: 0;
    }

    .content-area {
        padding: 0;
        bottom: 0;
        position: relative;

        .results {
            display: none;
        }

        @media screen and (max-width: $xs-width) {
            .results {
                display: block;
                position: fixed;
                bottom: 0;
                width: 100%;
                left: 0;
                background-color: #313131;
                color: #AAA;
                max-height: 150px;
                overflow-y: scroll;
            }
            ngui-map.bottom-margin {
                bottom: 150px !important;
            }
        }

        ngui-map {
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            height: auto;
        }

        .loader {
            position: absolute;
            top: 0;
            left: calc(50% - 32px);
            width: 64px;
            margin-top: 20vh;
        }
    }

    nav {
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        background-color: #313131;
        color: #AAA;
        width: 321px;
        max-width: none;

        &::-webkit-scrollbar {
            width: 16px;
        }

        &::-webkit-scrollbar-track {
            background-color:  #313131;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #FAFAFA;
            min-height: 50px;
            border-radius: 10px;
            border: 4px solid transparent;
            background-clip: content-box;
        }
    }

    .small-visible {
        display: none;
    }

    @media screen and (max-width: $xs-width) {
        .small-visible {
            display: block !important;
            padding: 0 16px 16px 16px !important;
        }

        .small-hidden {
            display: none;
        }

        nav {
            position: absolute;
            top: 60px;
            left: 0;
            max-width: none;
            width: calc(100% + 1px);
            background: none;
            .btn {
                max-width: none;
            }
            .user-input {
                background-color: #313131;
                padding-top: 0;
            }
            .steps {
                display: none;
            }
            .results {
                display: none;
            }
        }
    }

    .user-input {
        background: rgba(255,255,255,0.15);

        input, select {
            color: #FFF;
            width: 100%;
            margin-bottom: 8px;
            option {
                color: #000;
            }
        }

        button {
            margin-right: 0;
            width: 100%;
        }

        padding: 16px;
    }

    .steps {
        padding: 16px;
        h4 {
            color: #FFF;
            margin-top: 0;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .results {
        padding: 16px;
        h4 {
            color: #FFF;
            margin-top: 0;
            font-size: 16px;
            font-weight: 400;
        }
        /deep/ .signpost-action {
            &.btn {
                height: 22px;
            }
            clr-icon {
                margin-top: -15px;
            }
        }
    }
}

.traffic-light {
    float: right;
    background-image: url(../../images/traffic_lights.png);
    height: 93px;
    width: 40px;
    background-size: 160px 120px;
    background-repeat: no-repeat;
    margin-top: 2px;
    margin-right: 0px;
    &.red {
        background-position-x: 0;
    }
    &.orange {
        background-position-x: -120px;
    }
    &.green {
        background-position-x: -80px;
    }
}

.social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.fb-share {
    background-image: url(/images/fb_share.png);
    width: 63px;
    height: 27px;
    border: 0;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1.0;
    }
}

.twitter-tweet {
    display: inline-block;
    margin-top: -9px;
    background-image: url(/images/twitter_tweet.png);
    width: 63px;
    height: 27px;
    border: 0;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1.0;
    }
}
